<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>50</integer>
	<integer>70</integer>
	<real>1000.111</real>
	<integer>50000</integer>
	<integer>12000</integer>
</array>
</plist>
